node_modules/
dist/
.env
.DS_Store
/.vscode/

# Ignore raw PDFs (do not commit original PDFs)
content/raw_pdfs/*.pdf

# Binários temporários do Poppler
tools/poppler-bin.zip
tools/poppler-bin/

# Logs
npm-debug.log*
